<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Jabatan</title>
		<object th:include="fragment :: css" th:remove="tag"></object>
		<object th:include="fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header" th:text="'Tambah Jabatan'"></div>
							<div class="card-body">
								<form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
									<table>
											<tr style=height:50px>
												<td style=width:200px>Nama</td>
												<td><input type="text" th:field="${jabatan.nama}" th:required="true"/></td>
											</tr>
											
											<tr style=height:50px>
												<td>Deskripsi</td>
												<td><input type="text" th:field="${jabatan.deskripsi}" th:required="true"/></td>
											</tr>
											
											<tr >
												<td>Gaji Pokok</td>
												<td><input type="number" th:field="${jabatan.gajiPokok}" th:required="true"/></td>
											</tr>
									</table>
									<p></p>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>