<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Cari Pegawai</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<div th:replace="fragments/fragment :: nav"></div>
	
	<div class="container">
		<h1 class="page-header">Cari Pegawai</h1>
		<div>
			<label for="prov">Provinsi</label> 
			<input class="form-control mr-sm-2"
					type="text"
					aria-label="Provinsi" 
					name="prov" 
					readonly="true" 
					th:value="${provinsi.nama}"/>
		</div>
		<form th:object="${allInstansi}" action="/pegawai/cari" method="get">
			<div>
				<input type="hidden" name="inst" th:value="${inst.id}" />
			</div>
			<div>
				<label for="inst">Instansi</label>
				<select class="form-control" name="inst" required="true">
				    <option value="0">Pilih Instansi</option>
				    <option th:each="instansi : ${allInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
			    </select>
			</div>
	
			<div>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
			</div>
		</form>
	</div>
</body>

</html>

