<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Jabatan</title>
		<object th:include="fragment :: css" th:remove="tag"></object>
		<object th:include="fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragment :: navbar"></nav>
		<h2>Ubah Jabatan</h2>
		<form th:action="@{/jabatan/ubah}" th:object="${currJabatan}" method="POST">
		<input type="hidden" name="id" th:value="${currJabatan.id}" />
			<table>
					<tr>
						<td>Nama</td>
						<td><input type="text" th:field="${currJabatan.nama}" th:required="true"/></td>
					</tr>
					<tr>
						<td>Deskripsi</td>
						<td><input type="text" th:field="${currJabatan.deskripsi}" th:required="true"/></td>
					</tr>
					<tr>
						<td>Gaji Pokok</td>
						<td><input type="number" th:field="${currJabatan.gajiPokok}" th:required="true"/></td>
					</tr>
			</table>
			<button type="submit">Submit</button>
		</form>
	</body>