<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header" th:text="'Ubah Pegawai'"></div>
							<div class="card-body">
								<form th:action="@{/pegawai/ubah}" th:object="${currPegawai}" method="POST">
									<input  type="hidden" th:field="*{id}"></input>
									<input  type="hidden" th:field="*{nip}"></input>
									<div class="form-group">
										<label class="control-label col-sm-3">Nama:</label>
										<div class="col-sm-10">
									    	<input type="text" class="form-control" name="nama" th:value="${currPegawai.nama}" th:required="true">
									    </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Tempat Lahir:</label>
										<div class="col-sm-10">
									    	<input type="text" class="form-control" name="tempatLahir" th:value="${currPegawai.tempatLahir}" th:required="true">
									    </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Tanggal Lahir:</label>
										<div class="col-sm-10">
									    	<input type="date" class="form-control" name="tanggalLahir" th:value="${currPegawai.tanggalLahir}" th:required="true">
									    </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Tahun Masuk:</label>
										<div class="col-sm-10">
									    	<input type="text" class="form-control" name="tahunMasuk" th:value="${currPegawai.tahunMasuk}" th:required="true">
									    </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Provinsi:</label>
										<div class="col-sm-10">
									    	<select class="form-control" id = "provinsi" name="provinsi"> 
									    		<option th:value="${currPegawai.instansi.provinsi.id}" th:text="${currPegawai.instansi.provinsi.nama}"></option>
											    <option th:each="provinsixx: ${listProvinsi}" th:value="${provinsixx.id}" th:text="${provinsixx.nama}"></option>
											</select>
									    </div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Instansi:</label>
										<div class="col-sm-10">
										    <select class="form-control" id="form-inst" name = "instansi">
										   		<option th:value="${currPegawai.instansi.id}" th:text="${currPegawai.instansi.nama}"></option>
											    <option class="instansi" th:each="instansixx: ${allInstansi}" th:value="${currPegawai.instansi.id}" th:text="${instansixx.nama}"></option>
											</select>
									    </div>
									</div>
									<div class="form-group" >
										<label class="control-label col-sm-3">Jabatan:</label>
										<div class="col-sm-10">
										    <div id = "kumpulanRowJabatan">
												<div th:each="jabatanLama, iterationStat : ${currPegawai.pegawaiJabatan}">
										    	<select th:name = "'pegawaiJabatan[' + ${iterationStat.index} + '].jabatan'" class="form-control" th:id = "'row' + ${iterationStat.index}"> 
									    			<option th:text=${jabatanLama.jabatan.nama} th:value = ${jabatanLama.jabatan.id}></option>
									    			<a th:each="jabs, iterationStatus : ${allJabatan}" th:field="${currPegawai.pegawaiJabatan}">
									    				<option th:text = ${jabs.nama} th:value = ${jabs.id} ></option>
									    				
								      				</a>
								      				
											    </select>
											    
											    </div>
									    	</div>
										<div th:name="addRow" id= "buttonJabatan">Tambah Jabatan Lainnya</div>
										<div th:style="red" th:name="deleteRow" id= "buttonHapusJabatan">Hapus Jabatan Paling Akhir</div>
										
						    			</div>
									</div>

									<p></p>
									<button type="submit" class="btn btn-primary" id="buttonJabatan" name="save">Submit</button>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script th:inline = "javascript">
	$("#provinsi").change(function(){
		console.log("masuk");
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekInstansi",
			dataType : "json",
				success: function(json){
					var obj = JSON.stringify(json); 
					var objs = JSON.parse(obj);
					console.log(objs[0].nama);
					console.log ("disini");
					$(".instansi").remove();
					for (x in objs){
						console.log(objs[x].nama);
						$("#form-inst").append("<option class ='instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" value = "+ "'"+objs[x].id+"'"+">" + objs[x].nama +"</option>");
						console.log("<option class ='instansi' name = 'instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" th:value = "+ "'"+objs[x].id+"'"+">"+objs[x].nama+"</option>");
					}
				}
		})
	});
	
	$("#buttonJabatan").click(function(){
		if (jabatanCount == -1){
			jabatanCount ++;
		}
		console.log("masuk");
		console.log(jabatanCount)
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekJabatan",
			dataType : "json",
				success: function(json){
					
					console.log ("disini");
					var jabatanCount = 0;
					var jab = JSON.stringify(json); 
					var jabatan = JSON.parse(jab);
					console.log(jabatan);
					jabatanCount++;
	                var selectHtml = '<select class="form-control" id="row" name="pegawaiJabatan['+ jabatanCount +'].jabatan">\n';

	                var optionsHtml = '<option value=null>- Pilih Jabatan -</option>';

	                $.each( jabatan, function(i, jabatan ) {
	                    optionsHtml += '<option value=' + jabatan.id + '>' + jabatan.nama + '</option>';
	                });

	                var closingSelectHtml = '</select><br>';

	                $( "#kumpulanRowJabatan" ).append(selectHtml + optionsHtml + closingSelectHtml);
				}
		})
	});
	
	
	var jabatanCount = /*[[${size}]]*/ 'default';
		$("#buttonHapusJabatan").click(function(){
			console.log("masuk" + jabatanCount);
			var data = $(this).val();
			$.ajax({
				headers:{	
					Accept : "application/json"
				},
				contentType: "application/json",
				type : "GET",
				data : {id:data},
				url : "/pegawai/cekJabatan",
				dataType : "json",
					success: function(json){
						console.log(jabatanCount);
						var jab = JSON.stringify(json); 
						var jabatan = JSON.parse(jab);
						console.log ("#row" + jabatanCount + "haha");
		          		$("#row" + jabatanCount).remove();
		          		jabatanCount--;
					}
			})
		});
	
	
</script>
</html>