<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
	<head>
		<title>Sukses</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="alert alert-success">
			<strong>Sukses!</strong>
			<p></p>
  			<strong th:text="'Pegawai dengan NIP ' + ${pegawai.nip} + ' berhasil diubah'"></strong> Tekan ini untuk kembali ke <a th:href="@{/}" class="alert-link">home</a>.
		</div>
		
	</body>
</html>