<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Jabatan</title>
		<object th:include="fragment :: css" th:remove="tag"></object>
		<object th:include="fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>

		<nav th:replace="fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header" th:text="'Detail jabatan : ' + ${jabatan.nama}">
							
							</div>
						
						<div class="card-body">
							<table style=border:12px>
								<tr>
									<td style=width:200px>Nama</td>
									<td th:text=${jabatan.nama}></td>
								</tr>
								<tr>
									<td>Deskripsi</td>
									<td th:text=${jabatan.deskripsi}></td>
								</tr>
								<tr>
									<td>Gaji Pokok</td>
									<td th:text=${jabatan.gajiPokok}></td>
								</tr>
								<tr>
									<td>Jumlah Pegawai</td>
									<td th:text=${size}></td>
								</tr>
								<tr>
								</tr>
								
								
							</table>
						</div>
						<div class="card-footer">
							<table>
								<tr>
									<td>
										<form th:action="@{/jabatan/ubah}" method=GET>
											<button class="btn btn-primary" type="submit" name="idJabatan" th:value="${jabatan.id}">
												Ubah
											</button>
										</form>
									</td>
									<td>
									
										<form th:action="@{/jabatan/hapus}" method="POST">
											<button class="btn btn-primary" name="id" th:value="${jabatan.id}" type="submit">
												Hapus
											</button>
										</form>
									</td>
								</tr>
							</table>
						</div>
					</div>
					</div>
			</div>
			
		</div>
	</body>
</html>